body
{
    display: flex;
    background-color:rgb(254, 254, 255);
    background-image: url("../wp2727686-drum-set-wallpaper-hd\ \(1\).jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header
{
    border: 2px solid black;
    padding: 7px;
    color: whitesmoke;
}

main
{
    display: flex;
    flex-direction: row; 
    flex: auto;
    color: whitesmoke;
}

article
{
    flex: 2; 
    overflow-y: auto;
    color: whitesmoke;
}

aside
{
    flex: 1; 
    overflow-y: auto;
    color: whitesmoke;
}